ConsoleApplication1/Service References/ServiceReference1/WFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Submit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskinst" type="tns:TaskInst" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaskInst">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_arrsql" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="0" maxOccurs="1" name="PurOrgID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WFCatCD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WFCD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NodeCD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaskID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceTaskNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceSystem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DetailTables" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="DataFieldsXML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VarFieldsXML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostUserAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaskMemo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaskTopic" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaskPriority" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaskAttachments" type="tns:ArrayOfTaskAttach" />
          <s:element minOccurs="0" maxOccurs="1" name="FormType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormContent" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="ArrExecSql" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="0" maxOccurs="1" name="AttachType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTaskAttach">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TaskAttach" nillable="true" type="tns:TaskAttach" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaskAttach">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ConnectionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileContent" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="BindControlID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nextApprover" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:Submit" />
  </wsdl:message>
  <wsdl:message name="SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitResponse" />
  </wsdl:message>
  <wsdl:portType name="WFServiceSoap">
    <wsdl:operation name="Submit">
      <wsdl:input message="tns:SubmitSoapIn" />
      <wsdl:output message="tns:SubmitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WFServiceSoap" type="tns:WFServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Submit">
      <soap:operation soapAction="http://tempuri.org/Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WFServiceSoap12" type="tns:WFServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Submit">
      <soap12:operation soapAction="http://tempuri.org/Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WFService">
    <wsdl:port name="WFServiceSoap" binding="tns:WFServiceSoap">
      <soap:address location="http://localhost:62115/IPUR/WFService.asmx" />
    </wsdl:port>
    <wsdl:port name="WFServiceSoap12" binding="tns:WFServiceSoap12">
      <soap12:address location="http://localhost:62115/IPUR/WFService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>